.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: lightgray;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: darkseagreen;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: darkslategray;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}

.header {
	background: tomato;
}

.footer {
	background: lightgreen;
}


.aside-1 {
	background: gold;
}

.aside-2 {
	background: deepskyblue;
}

.aside-3 {
	background: hotpink;
}

@media all and (min-width: 600px) {
	.aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
	.aside-1 { order: 1; }
	.aside-2 { order: 2; }
	.aside-3 { order: 3; }
	.footer  { order: 4; }
}

body {
	padding: 1em;
}
