:root {
  --blue:     #deeaee;
  --red:      #f7cac9;
  --red-dark: #f7786b;
  --green:    #b1cbbb;
}

 /* This enables adding click-events to svg-buttons */
svg, embed {
  pointer-events: none;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.wrapper > * {
	padding: 5px;
	flex: 1 100%;
}

@media all and (min-width: 600px) {
	.aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
	.aside-1 { order: 1; }
	.aside-2 { order: 2; }
	.aside-3 { order: 3; }
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 60%;
	height: 25px;
	background: lightgray;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 10px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 22px;
	height: 22px;
	background: darkseagreen;
	border-radius: 10px;
}

.slider::-moz-range-thumb {
	width: 22px;
	height: 22px;
	background: darkslategray;
	border-radius: 10px;
}

input {
	display: inline-block;
	vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
th, td {
  padding: 1rem 1rem;
}
thead th, td {
  border: 1px dotted black;
}
thead th {
  background-color: var(--blue);
}
tbody > tr:first-child {
  background-color: var(--red);
}
thead > tr > th:first-child,
tbody > tr > th:first-child,
tbody > tr > td:first-child {
  text-align: left;
}
.fa-folder:before, .fa-folder-o:before, .file-audio-o:before {
  padding-right: 10px;
}
th.buttons, td.buttons {
  vertical-align: middle;
}
th.buttons > button, td.buttons > button {
  height: 100%;
  font-size: 1.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Highlight the currently hovered row (directories and tracks) */
tr:hover, tbody > tr:first-child:hover {
  background: var(--green);
}

* {
  font-family: FontAwesome;
}

/*
 * Alert message (customized).
 * Original's source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alert
 */
.alert {
  background-color: var(--red-dark);
  color: black;
  padding: 2rem;
  font-size: 1.5rem;
  /* make the div sticky */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.closebtn {
  margin-left: 1rem;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  transition: 0.1s;
}
.closebtn:hover {
  color: white;
}
