 /* This enables adding click-events to svg-buttons */
svg, embed {
  pointer-events: none;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.wrapper > * {
	padding: 5px;
	flex: 1 100%;
}

@media all and (min-width: 600px) {
	.aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
	.aside-1 { order: 1; }
	.aside-2 { order: 2; }
	.aside-3 { order: 3; }
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 60%;
	height: 25px;
	background: lightgray;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 10px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 22px;
	height: 22px;
	background: darkseagreen;
	border-radius: 10px;
}

.slider::-moz-range-thumb {
	width: 22px;
	height: 22px;
	background: darkslategray;
	border-radius: 10px;
}

input {
	display: inline-block;
	vertical-align: middle;
}

