<h1>Lauschkasten</h1>

<div class="wrapper">
	<header class="header">

		<p>Current Title: XXX</p>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>


	</header>

	<aside class="aside aside-1">
		<button type="button" style="width: 20%; height: 20%;" aria-label="Reveal navigation">
			<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
				<style
				type="text/css"
				id="current-color-scheme">
				.ColorScheme-Text {
					color:#232629;
				}
				</style>
				<path d="M0 6v20h4V6zm18 10l14 10V6zM4 16l14 10V6z" class="ColorScheme-Text" fill="currentColor"/>
			</svg>
		</button>
	</aside>

	<aside class="aside aside-2">
		<button type="button" style="width: 20%; height: 20%;" aria-label="Reveal navigation">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
				<defs
					id="defs3051">
					<style
					type="text/css"
					id="current-color-scheme">
					.ColorScheme-Text {
					color:#232629;
					}
					</style>
				</defs>
				<path
					style="fill:currentColor;fill-opacity:1;stroke:none"
					d="m 6 6 0 20 20 -10 z"
					id="path105"
					class="ColorScheme-Text"
				/>
			</svg>
		</button>
	</aside>

	<aside class="aside aside-3">
		<button type="button" style="width: 20%; height: 20%;" aria-label="Reveal navigation">
			<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
				<style
				type="text/css"
				id="current-color-scheme">
				.ColorScheme-Text {
				color:#232629;
				}
				</style>
				<path d="M32 6v20h-4V6zM14 16L0 26V6zm14 0L14 26V6z" class="ColorScheme-Text" fill="currentColor"/>
			</svg>
		</button>
	</aside>
	<footer class="footer">AA:BB (CC:DD)</footer>
</div>

<p>Slider Value: <span id="demo"></span></p>

<form>
	<input id="input-text" type="text">
	<input id="input-button" type="button" value="do sth input (TODO)">
</form>

<h2>WebSocket Client</h2>

<table>
<tr><td valign="top" width="50%">

<form>
<button id="reset">Reset Websocket Connection</button>
<p><input id="input" type="text" value="Hello world!">
<button id="send">Send</button>
</form>
</td><td valign="top" width="50%">
<div id="output" style="max-height: 70vh;overflow-y: scroll;"></div>
</td></tr></table>
