<br>

<table>
  <thead>
    <tr>
      <th>Dateiname</th>
      <th>Position/Gesamtdauer (Sekunden)</th>
      <th>Aktionen</th>
    </tr>
  </thead>

  {{ $tbodies := .Tbodies }}
  {{ range $tbody := $tbodies }}
  <tbody>

    <tr>
      <th class="fa-folder-o" colspan="2" scope="rowgroup">{{$tbody.Header}}</th>
      <th class="buttons" scope="rowgroup">
        <button><i class='fa fa-trash'></i></button>
      </th>
    </tr>

  {{ range $row := $tbody.Rows }}
    <tr>
      <td>{{$row.Basename}}</td>
      <td>{{$row.CurrentSeconds}} / {{$row.DurationSeconds}}</td>
      <td class="buttons">
        <button><i class='fa fa-play'></i></button>
        <button><i class='fa fa-plus'></i></button>
        <button><i class='fa fa-trash'></i></button>
      </td>
    </tr>
  {{ end }}

  </tbody>
  {{ end }}

</table>
